main {
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display: block;
	font-size: 33px;
	font-weight: bold;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.teste {
	font-size: 25px;
	font-weight: normal;
}

.enviar {
	width: 60%;
	padding: 15px 0;
	background: orange;
	color: black;
	font-weight: bold;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover{
	background: darkorange;
	transform: scale(1.2);
}

table {
	margin: 20px 200px;

}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}
